@import "fonts.scss";
@import "bootstrap/bootstrap.scss";
@import "variable";
@import "button";

div,input,button,label,span,p,h1,h2,h3,h4,h5,h6,select,title,textarea,a{
  font-family: iransans;
}

a{
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: none;
    color: black;
  }
}
.text-small{
  font-size: $text-small;
}
 .social-icon{
   width: $social-icon;
   height: $social-icon;
 }

 .text-gray{
   color: $text-gray;
 }
 .bg-gray-200{
   background-color: $text-gray-200;
 }

 .bg-gray-100{
   background-color: $gray-100;
 }
.show{
  &:hover{
    a{
      color: $red !important;
    }
    ul{
      display: block;
      opacity: 1;
      z-index: 2;
      position: absolute;
      a{
        color: black !important;
        li{
          &:hover{
            color: $red;
          }
        }
      }
    }
  }
}

.list-categories1{
  display: none;
  overflow: hidden;
  transition: opacity 300ms ease;
  min-width: 120px;
}

#gotoTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#gotoTop:hover {
  background-color: #555;
}

.rounded-top{
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
}
.rounded-top-0{
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}
.w-30{
  width: 30%;
}
.w-40{
  width: 40%;
}

.bg-robot{
  background: url("../images/tuts.png") no-repeat;
}
.color-red{
  color: $red;
}

.shadow{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.lg-rounded{
  border-radius: 15px;
}

.pagination{
  .active{

    .page-link{
      background-color: $red;
      color: white;
      border: 2px solid $red;
    }
  }
}

@media (max-width: 575.98px) {
  .hidden-xs{
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hidden-sm{
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .hidden-md{
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .hidden-lg{
    display: none;
  }
}
@media (min-width: 1200px) {
  .hidden-xl{
    display: none;
  }
}
