@import "fonts.scss";
@import "bootstrap/bootstrap.scss";
@import "variable";
@import "button";

div,input,button,label,span,p,h1,h2,h3,h4,h5,h6,select,title,textarea,a, title{
  font-family: iransans,Tahoma,sans-serif;
}

a{
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: none;
    color: black;
  }
}
.text-small{
  font-size: $text-small;
}
.text-large{
  font-size: $text-large;
}
 .social-icon{
   width: $social-icon;
   height: $social-icon;
 }

 .text-gray{
   color: $text-gray;
 }
 .bg-gray-200{
   background-color: $text-gray-200;
 }

 .bg-gray-100{
   background-color: $gray-100;
 }
.show{
  &:hover{
    a{
      color: $red !important;
    }
    ul{
      display: block;
      opacity: 1;
      z-index: 2;
      position: absolute;
      a{
        color: black !important;
        li{
          &:hover{
            color: $red;
          }
        }
      }
    }
  }
}

.show2{
  &:hover{
    color: $red;
    ul{
      isplay: block;
      opacity: 1;
      z-index: 2;
      position: absolute;
      li{
        a{
          &:hover{
            color: $red;
          }
        }
      }
    }
  }
}
.show_list{
  &:hover{
    color: $red !important;
  }
}

.list-categories1, .list-categories2{
  display: none;
  overflow: hidden;
  transition: opacity 300ms ease;
  min-width: 120px;
}
.center{
  margin{
    right: auto;
    left: auto;
  }
  float: none;
}

#gotoTop {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#gotoTop:hover {
  background-color: #555;
}

.rounded-top{
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
}
.rounded-top-0{
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}
.w-30{
  width: 30%;
}
.w-40{
  width: 40%;
}
.w-60{
  width: 60%;
}
.w-70{
  width: 70%;
}
.bg-robot{
  background: fixed;
  @extend .bg-dark;
  background-image: url("../images/RoboticsHeroBanner1-P.jpg");
  background-position: bottom;
}

.color-red{
  color: $red;
}

.shadow{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.lg-rounded{
  border-radius: 15px;
}

.pagination{
  .active{
    .page-link{
      background-color: $red;
      color: white;
      border: 2px solid $red;
    }
  }
}
#show_list{
  display: none;
}

show_list2{
  @extend .show_list;
  transition: right 0.2s ease 0s;
  position: fixed;
}
.show_list3{
  @extend .show_list;
  transition: right 0.2s ease 0s;
  position: fixed;
}
#main_list{
  display: none;
  transition: right 0.2s ease 0s;
  position: fixed;
  top: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.online_course{
  &:hover{
    button{
      @extend .btn-primary;
      background-color: $color-success !important;
      border-color: $color-success !important;
    }
  }
}
.article{
  &:hover{
    button{
      background-color: $color-success !important;
      border-color: $color-success !important;
      box-shadow: 0 .8rem .5rem rgba(0,0,0,.2)!important;
    }
  }
}
.mySlides{
  transition: ;
}

.slide_icon{
  &:hover{
    background-color: $gray-100 !important;
  }
}

.slide_icon:focus, .slide_icon:active, .slide_icon.active, .slide_icon:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bg-small{
  max-height: 45px;
}

@media (max-width: 575.98px) {
  .hidden-xs{
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hidden-sm{
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .hidden-md{
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .hidden-lg{
    display: none;
  }
}
@media (min-width: 1200px) {
  .hidden-xl{
    display: none;
  }
}
