@import "fonts.scss";
@import "variable";
@import "button";
@import "bootstrap/bootstrap";

.mainmenuarea {
  background: #ffffff;
  width: 100%;
}

.mainmenuarea ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  float: right;
  display: flex;
  align-items: center;
}

.mainmenuarea ul li {
  display: inline-block;
  position: relative;
}

.mainmenuarea ul li a {
  padding: 10px 15px;
  display: block;
  color: #000;
}

.mainmenuarea ul li:hover>a {
  background: #ffffff;
  color: $red;
  box-shadow: 0px 1px 0px $red;
  text-decoration: none;
}

.mainmenuarea ul li ul {
  display: none;
  position: absolute;
  top: 45px;
  righ: 0px;
  background: #fff;
  box-shadow: 2px 2px 10px 0px $red;
  width: 200px;
  z-index: 2;
}

.mainmenuarea ul li:hover>ul {
  display: block
}

.mainmenuarea ul li ul li {
  display: block;
}

.mainmenuarea ul li ul li a {}

.mainmenuarea ul li ul li:hover a {
  box-shadow: none;
}

.mainmenuarea ul li ul li ul {
  display: none;
  top: 0px;
  right: 200px;
}

.mainmenuarea ul li ul li:hover>ul {
  display: block
}

.text-small{
  font-size: $text-small;
}
.text-large{
  font-size: $text-large;
}
.text-gray{
  color: $text-gray;
}
.bg-yellow{
  background-color: $yellow;
}
.bg-dark-100{
  background-color: $bg-dark-100;
}
.bg-gray-200{
  background-color: $text-gray-200;
}
.bg-gray-100{
  background-color: $gray-100;
}
.bg-small{
  max-height: 45px;
}
.color-red{
  color: $red;
}
.shadow{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.rounded-top{
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
}
.rounded-top-0{
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}
.rounded-bottom-0{
  border-bottom-right-radius: 0px!important;
  border-bottom-left-radius: 0px !important;
}
.w-30{
  width: 30%;
}
.w-40{
  width: 40%;
}
.w-60{
  width: 60%;
}
.w-70{
  width: 70%;
}

div,input,button,label,span,p,h1,h2,h3,h4,h5,h6,select,title,textarea,a, title{
  font-family: iransans,Tahoma,sans-serif;
}
a{
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: none;
    color: black;
  }
}

 .social-icon{
   width: $social-icon;
   height: $social-icon;
 }

.show{
  &:hover{
    a{
      color: $red !important;
    }
    ul{
      display: block;
      opacity: 1;
      z-index: 2;
      position: absolute;
      a{
        color: black !important;
        li{
          &:hover{
            color: $red;
          }
        }
      }
    }
  }
}

.show2{
  &:hover{
    color: $red;
    ul{
      isplay: block;
      opacity: 1;
      z-index: 2;
      position: absolute;
      li{
        a{
          &:hover{
            color: $red;
          }
        }
      }
    }
  }
}
.show_list{
  &:hover{
    color: $red !important;
  }
}

.list-categories1, .list-categories2{
  display: none;
  overflow: hidden;
  transition: opacity 300ms ease;
  min-width: 120px;
}
.center{
  margin{
    right: auto;
    left: auto;
  }
  float: none;
}
//scroll soft to top
#gotoTop {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#gotoTop:hover {
  background-color: #555;
}
.bg-robot{
  background-image: url("../images/Robotic_border.jpg");
  background-position: bottom;
}
.name_relation{
  &:hover{
    color: $red !important;
  }
}
.lg-rounded{
  border-radius: 15px;
}
.pagination{
  .active{
    .page-link{
      background-color: $red;
      color: white;
      border: 2px solid $red;
    }
  }
}
#show_list{
  display: none;
}

show_list2{
  @extend .show_list;
  transition: right 0.2s ease 0s;
  position: fixed;
}
.show_list3{
  @extend .show_list;
  transition: right 0.2s ease 0s;
  position: fixed;
}
#main_list{
  display: none;
  transition: right 0.2s ease 0s;
  position: fixed;
  top: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.online_course{
  &:hover{
    button{
      @extend .btn-primary;
      background-color: $color-success !important;
      border-color: $color-success !important;
    }
  }
}
.article{
  &:hover{
    button{
      background-color: $color-success !important;
      border-color: $color-success !important;
      box-shadow: 0 .8rem .5rem rgba(0,0,0,.2)!important;
    }
  }
}
.slide_icon{
  &:hover{
    background-color: $gray-100 !important;
  }
}
.transparent-50{
  opacity: 50% !important;
}
.new{
   &:hover,&.active{
     color: #005cbf ;
     border-bottom: 2px solid #005cbf !important;

   }
 }

 .join_for_comment{
   &:hover{
     background-color: red !important;
     color: white !important;
   }
 }
 .like{
   &:hover{
     @extend .btn-success;
     background-color: $color-success !important;
   }
 }
 .pagination{
   .page-link{
     &:hover{
       background-color: $red;
       color: white;
     }
   }
 }

 .user_profile{
   width: 65px;
   height: 65px;
 }
.comment_list:before {
  content: '' !important;
  position: absolute !important;
  width: 2px !important;
  height: 98% !important;
  background: #e5e5e5 !important;
  display: inline-block !important;
  right: 50px !important;
}
//.comment_list:after {
//  clear: both !important;
//  content: " " !important;
//  display: table !important;
//}
.first_comment:before{
  content: '' !important;
  position: absolute !important;
  width: 85px !important;
  height: 2px !important;
  background: #e5e5e5 !important;
  display: inline-block !important;
  right: 31px !important;
  top: 30px !important;
  -webkit-transform: translateX(100%) !important;
  -ms-transform: translateX(100%) !important;
  -o-transform: translateX(100%) !important;
  transform: translateX(100%) !important;
}
.first_comment:after{
  content: '' !important;
  position: absolute !important;
  width: 16px !important;
  height: 16px !important;
  background: #19b0f5 !important;
  display: inline-block !important;
  right: -49px !important;
  top: 22px !important;
  -webkit-transform: translateX(100%) !important;
  -ms-transform: translateX(100%) !important;
  -o-transform: translateX(100%) !important;
  transform: translateX(100%) !important;
  border-radius: 50%;
  border: 2px solid #fff !important;
  box-shadow: 1px 1px 7px rgba(0,0,0,.2) !important;
  -moz-box-shadow: 1px 1px 7px rgba(0,0,0,.2) !important;
  -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,.2) !important;
  -ms-box-shadow: 1px 1px 7px rgba(0,0,0,.2) !important;
  -o-box-shadow: 1px 1px 7px rgba(0,0,0,.2) !important;
}
.nth_comment:before{
  content: '' !important;
  position: absolute !important;
  width: 2px !important;
  height: 100% !important;
  background: #e5e5e5 !important;
  display: inline-block !important;
  right: 34px !important;
  top: -82px !important;
  -webkit-transform: translateX(100%) !important;
  -ms-transform: translateX(100%) !important;
  -o-transform: translateX(100%) !important;
  transform: translateX(100%) !important;
}
.nth_comment:after{
  content: '' !important;
  position: absolute !important;
  width: 16px !important;
  height: 16px !important;
  background: #19b0f5 !important;
  display: inline-block !important;
  right: 41px !important;
  top: -50px !important;
  -webkit-transform: translateX(100%) !important;
  -ms-transform: translateX(100%) !important;
  -o-transform: translateX(100%) !important;
  transform: translateX(100%) !important;
  border-radius: 50%;
  border: 2px solid #fff !important;
  box-shadow: 1px 1px 7px rgba(0,0,0,.2) !important;
  -moz-box-shadow: 1px 1px 7px rgba(0,0,0,.2) !important;
  -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,.2) !important;
  -ms-box-shadow: 1px 1px 7px rgba(0,0,0,.2) !important;
  -o-box-shadow: 1px 1px 7px rgba(0,0,0,.2) !important;
}
.read_content{
  &:hover{
    background-color: $gray-100 !important;
    //border: 0px solid rgba(55,55,55,.1) !important;
    border-radius: 15px;
    a{
      .w-75{
        h6{
          color: $red !important;
        }
      }

    }
  }
}
.profile_picture{
  position: absolute;
  right: 0px;
  left: auto;
  width: 65px;
  border: none;
  border-radius: 3px;
  padding: 0;
  z-index: 999;
  box-shadow: 1px 1px 7px rgba(0,0,0,.2);
  -moz-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
  -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
  -ms-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
  -o-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
  background: #fff;
}
.main_profile_picture{
  @extend .profile_picture;
  right: 25px;
}

.slide_icon:focus, .slide_icon:active, .slide_icon.active, .slide_icon:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

//Media quereis
@media (min-width: 10px) and (max-width: 575.98px) {
  .hidden-xs{
    display: none;
  }
  .w-xs-100{
    width: 100% !important;
  }
  .main_slider{
    height: 200px;
  }
  .nth_comment:before{
    top: -130px !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .hidden-sm{
    display: none;
  }
  .main_slider{
    height: 200px !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .hidden-md{
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .hidden-lg{
    display: none;
  }
}
@media (min-width: 1200px) {
  .hidden-xl{
    display: none;
  }
}
