<!doctype html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/icon.min.css">
    <link rel="stylesheet" href="../../assets/css/animate.min.css">
    <link rel="stylesheet" href="../../assets/css/slick.css">
    <title> ارور ۴۰۴ </title>
</head>
<body>
<button onclick="topFunction()" id="gotoTop" title="Go to top"><i class="fas fa-angle-double-up"></i></button>


<main>
    <div class="container">
        <div class="row">
            <div class="error card shadow border lg-rounded col-12 my-md-5">
                <header class="w-100">
                    <div class="container hidden-lg hidden-md hidden-xl my-4">
                        <div class="row">
                            <div class="col-6 text-right">
                                <button class="border-0 bg-white" onclick="show_main_list()" > <i class="fas fa-align-justify"></i> </button>
                            </div>
                            <div class="col-10 navbar text-center px-0 py-0 fixed-top h-100 bg-white" id="main_list">
                                <div class="logo">
                                    <a href="#" class="show text-center"><li class="list-group-item rounded-0 border-bottom">
                                        <img src="../../assets/images/logomain.jpg" height="90px" width="230px" alt="">
                                    </li></a>
                                </div>
                                <nav>
                                    <ul class="list-unstyled text-right px-0 w-100 h-100">
                                        <li class="list-group-item border-0 align-items-center rounded-0" onclick="show_list2()">
                                            <a href="#" class="text-gray show_list">
                                                قالب وردپرس<i class="fas fa-angle-down mr-1 float-left"></i>
                                            </a>
                                            <ul class="list-unstyled text-right pr-2 py-2 list-categories1 bg-white"  id="show_list2">
                                                <a href="#">
                                                    <li class="list-item text-right text-gray" onclick="show_list3()">
                                                        تست ۱ <i class="fas fa-angle-down mr-1 float-left"></i>
                                                    </li>
                                                </a>
                                                <ul class="list-unstyled text-right pr-2 py-2 list-categories1 bg-white rounded"  id="show_list3">
                                                    <a href="#"> <li class="list-item text-right"> تست ۱ </li></a>
                                                    <a href="#"><li class="list-item text-right"> تست ۲ </li></a>
                                                    <a href="#"><li class="list-item text-right"> تست ۳ </li></a>
                                                    <a href="#"><li class="list-item text-right"> تست ۴ </li></a>
                                                </ul>
                                                <a href="#"><li class="list-item text-right text-gray"> تست ۲ </li></a>
                                                <a href="#"><li class="list-item text-right text-gray"> تست ۳ </li></a>
                                                <a href="#"><li class="list-item text-right text-gray"> تست ۴ </li></a>
                                            </ul>
                                        </li>

                                        <a href="#"><li class="list-group-item border-0 align-items-center rounded-0 text-gray show_list">
                                            افزونه وردپرس<i class="fas fa-angle-down mr-1 float-left"></i>
                                        </li></a>
                                        <a href="#"><li class="list-group-item border-0 align-items-center rounded-0 text-gray show_list">
                                            مقالات آموزشی<i class="fas fa-angle-down mr-1 float-left"></i>
                                        </li></a>
                                        <a href="#"><li class="list-group-item border-0 align-items-center rounded-0 text-gray show_list">
                                            دوره های آموزشی<i class="fas fa-angle-down mr-1 float-left"></i>
                                        </li>  </a>
                                        <a href="#"><li class="list-group-item border-0 align-items-center rounded-0 text-gray show_list">
                                            ژاکت<i class="fas fa-angle-down mr-1 float-left"></i>
                                        </li> </a>
                                        <a href="#"><li class="list-group-item border-0 align-items-center rounded-0 text-gray show_list">
                                            طراحی سایت<i class="fas fa-angle-down mr-1 float-left"></i>
                                        </li></a>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-6  text-left" onclick="hide_main_list()">
                                <div class="row" dir="ltr">
                                    <div class="search d-inline-block mx-3" id="search_icon">
                                        <a href="#"> <i class="fas fa-search color-red animated infinite slow tada delay-s"></i> </a>
                                    </div>
                                    <div class="user d-inline-block mx-1" id="user_icon">
                                        <a href=""> <i class="fas fa-user color-red animated infinite slow tada delay-s"></i> </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="container text-center hidden-sm hidden-xs">
                        <div class="row">
                            <div class="w-100 text-center bg-white">
                                <div class="d-none w-100 d-flex align-items-center py-3">
                                    <nav class="col-lg-12 px-0">
                                        <div class="bg-light d-flex align-items-center">
                                            <ul class="list-inline pr-0 bg-white d-flex align-items-center mb-0 w-100 justify-content-around">
                                                <li class="w-30" id="logo_scroll">
                                                    <a href="#"><img src="../../assets/images/logomain.jpg" class="float-right" style="width:204px ;height: 80px"></a>
                                                </li>
                                                <li class=" active show">
                                                    <a class="" href="#"> قالب وردپرس <span class="sr-only"></span></a>
                                                    <ul class="list-unstyled text-right pr-2 py-2 list-categories1 border shadow bg-white rounded">
                                                        <li class="list-item text-right show2">
                                                            <a href="">
                                                                تست ۱ <i class="fas fa-angle-down ml-3 float-left"></i>
                                                            </a>
                                                            <ul class="list-unstyled text-right pr-2 py-2 list-categories2 border shadow bg-white rounded">
                                                                <li class="list-item text-right"><a href="">تست ۱</a></li>
                                                                <li class="list-item text-right"><a href=""> تست ۲ </a></li>
                                                                <li class="list-item text-right"><a href=""> تست ۳ </a></li>
                                                                <li class="list-item text-right"><a href=""> تست ۴ </a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="list-item text-right"><a href=""> تست ۲ </a></li>
                                                        <li class="list-item text-right"><a href=""> تست ۳ </a></li>
                                                        <li class="list-item text-right"><a href=""> تست ۴ </a></li>
                                                    </ul>
                                                </li>
                                                <li class=" show">
                                                    <a class="" href="#"> افزونه وردپرس </a>
                                                    <ul class="list-unstyled text-right pr-2 py-2 list-categories1 border shadow bg-white rounded">
                                                        <a href=""> <li class="list-item text-right"> تست ۱ </li></a>
                                                        <a href=""><li class="list-item text-right"> تست ۲ </li></a>
                                                        <a href=""><li class="list-item text-right"> تست ۳ </li></a>
                                                        <a href=""><li class="list-item text-right"> تست ۴ </li></a>
                                                    </ul>
                                                </li>
                                                <li class=" show">
                                                    <a class="" href="#"> مقالات آموزشی </a>
                                                    <ul class="list-unstyled text-right pr-2 py-2 list-categories1 border shadow bg-white rounded">
                                                        <a href=""> <li class="list-item text-right"> تست ۱ </li></a>
                                                        <a href=""><li class="list-item text-right"> تست ۲ </li></a>
                                                        <a href=""><li class="list-item text-right"> تست ۳ </li></a>
                                                        <a href=""><li class="list-item text-right"> تست ۴ </li></a>
                                                    </ul>
                                                </li>
                                                <li class=" show">
                                                    <a class="" href="#"> دوره های آموزشی </a>
                                                    <ul class="list-unstyled text-right pr-2 py-2 list-categories1 border shadow bg-white rounded">
                                                        <a href=""> <li class="list-item text-right"> تست ۱ </li></a>
                                                        <a href=""><li class="list-item text-right"> تست ۲ </li></a>
                                                        <a href=""><li class="list-item text-right"> تست ۳ </li></a>
                                                        <a href=""><li class="list-item text-right"> تست ۴ </li></a>
                                                    </ul>
                                                </li>
                                                <li class=" show">
                                                    <a class="" href="#"> ژاکت </a>
                                                    <ul class="list-unstyled text-right pr-2 py-2 list-categories1 border shadow bg-white rounded">
                                                        <a href=""> <li class="list-item text-right"> تست ۱ </li></a>
                                                        <a href=""><li class="list-item text-right"> تست ۲ </li></a>
                                                        <a href=""><li class="list-item text-right"> تست ۳ </li></a>
                                                        <a href=""><li class="list-item text-right"> تست ۴ </li></a>
                                                    </ul>
                                                </li>
                                                <li class="show">
                                                    <a class="" href="#"> طراحی سایت </a>
                                                    <ul class="list-unstyled text-right pr-2 py-2 list-categories1 border shadow bg-white rounded">
                                                        <a href=""> <li class="list-item text-right"> تست ۱ </li></a>
                                                        <a href=""><li class="list-item text-right"> تست ۲ </li></a>
                                                        <a href=""><li class="list-item text-right"> تست ۳ </li></a>
                                                        <a href=""><li class="list-item text-right"> تست ۴ </li></a>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </div>
                                    </nav>
                                </div>

                            </div>
                        </div>
                    </div>
                </header>
                <hr>
                <div class="row py-5" onclick="hide_main_list()">
                    <div class="col-md-6 col-12">
                        <div class="content text-center py-md-5 my-5">
                            <h5 class=""> صفحه مورد نظر یافت نشد </h5>
                            <a href="" class="text-primary">  بازگشت به صفحه قبل </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 text-right">
                        <img src="../../assets/images/download.gif" class="w-xs-100" style="max-height: 400px; max-width: 360px" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<script src="../../assets/js/slide.js"></script>
<script src="../../assets/js/jquery-3.3.1.min.js"></script>
<script src="../../assets/js/popper.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<script src="../../assets/js/slick.js"></script>
<script>
  $(document).ready(function(){
    $('.your-class').slick({
      setting-name: setting-value
  });
  });
</script>
<script src="../../assets/js/sticky-sidebar.js"></script>
<script src="../../assets/js/scroll.js"></script>
<script src="../../assets/js/app.js"></script>
</body>
</html>
